html {
  background-color: #f2f2f2;
  color: #080808;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 1rem;
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

img {
  margin: .2em;
  max-width: 100%;
  height: auto;
}

a {
  color: #0000a2;
}

ul {
  font-size: 1em;
  list-style: none;
  margin-top: 0;
  padding: 0;
}

li {
  margin-bottom: .6em;
}

.download-section {
  margin-top: 0;
  padding-top: 0;
}

.download-btn {
  background-color: #71aad7;
  border-radius: 6px;
  color: #080808;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  margin: 1em auto;
  padding: 1em;
  transition-duration: .4s;
  max-width: 25%;
  min-width: 315px;
}

.download-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.download-btn:active {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .24), 0 8px 25px 0 rgba(0, 0, 0, .19);
  transform: translateY(5px);
}

.java-warning {
  color: #da095a;
  font-size: 1em;
  margin-top: 1.2em;
}

.requirements {
  margin-top: 2em;
  margin-bottom: 2em;
}

.requirements h2 {
  font-size: 1.17em;
  margin-bottom: .5em;
}

.web-chat {
  margin-top: 3em;
}

.web-chat h3 {
  margin-bottom: .5em;
}
